* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#topo_do_site{
    display: flex;
    list-style: none;
}

#div_topo_do_site{
    background-color: #F5F5F5;
    width: 100%;
    height: 47px;
    font-family: "Cairo", sans-serif;
    
}

#email{
    margin-right: 50px;
    margin-left: 18%;
    margin-top: 8px;
}

#email svg{
    width: 16px;
    height: 16px;
}

.espacinho_emcima{    
    margin-top: 8px;
}

#redes_sociais{
    margin-left: 400px;
    margin-top: 8px;
}

#redes_sociais svg{
    fill: black;
    height: 13px;
    margin-left: 7px;
    margin-right: 7px;
}

#language{
    margin-top: 8px;
    margin-left: 50px;
}

#language img{
    margin-right: 5px;
}

#divlenguage{
    position:relative;
    display: flex;
    align-items: center;
}
#spanish{
    position: absolute;
    background-color: black;
    padding: 0 40px 0 10px;
    margin: 0;
    list-style: none;
    color: #Ffff;
    left:50px;
    top: 65px;
    opacity: 0;
    transition: 0.5s;
    z-index: -1;
}
#divlenguage:hover #spanish{
    opacity: 1;
    top: 40px;
    z-index: 1;
}

#login{
    margin-top: 8px;

}

#login svg{
    height: 13px;
    margin-left: 50px;
}

#main{
    display: grid;
    grid-template-columns: 1.3fr 1.3fr 1fr 1fr 1.3fr 1.3fr;
    grid-template-rows: 80px 80px 431px 263px;
    margin-top: 20px;
}

#logo{ grid-column: 2;}

#nav{
    grid-column: 3/6;
    display: flex;  
}


.display{
    display: flex;
}


#nav li{
    margin: 20px ;    
}


.fonte_nav{
    font-family: "Cairo", sans-serif;
    font-size: 14px;
    list-style: none;
}


#nav a:hover{
    color: #7FAD39;    
}


#nav a{
    text-decoration: none;
color: #000000;
}


#nav svg{
    width: 16px;
    height: 16px;
}


#escondido_pages{
    position: relative;
}


#pages{
    color: #ffffff;
    position: absolute;    
    background-color: rgb(0, 0, 0);
    padding: 0 40px 0 10px;
    margin: 0;
    list-style: none;
    color: #Ffff;
    left: 10px;
    top: 60px;
    z-index: -1;
    opacity: 0;
    transition: 0.5s;
    width: 170px;
    height: 200px;
    font-size: 14px;
    font-family: "Cairo", sans-serif;
}


#pages a{
    color: #ffffff;
    text-decoration: none;
}


#escondido_pages:hover #pages{
    opacity: 1;
    top: 40px;
    z-index: 1;
}


#carrinho{
    margin-left: 200px;
    list-style: none;
    margin-top: 10px;
}


#carrinho svg{
    width: 20px;
    height: 20px;
}

#menu{
    grid-column: 2;
    grid-row: 2/4;
    position: relative;
}


#menu svg{
    width: 16px;
    height: 16px;
    fill:#F5F5F5;
    margin-right: 10px;
}


#setinha_menu{
    margin-left: 15px;
}


#menu_verde{
    position:relative;
}


#menu_verde button{
    background-color: #7FAD39;
    width: 90%;
    height: 50px;
    border: none;
    width: 262px;
    color: #F5F5F5;
    font-size: 16px;
    font-family: "Cairo", sans-serif;
}


#opcoes_menu{
    list-style: none;    
}


#opcoes_menu li{
    margin-top: 7px;
}


#opcoes_menu a{
    text-decoration: none;
    color: #1C1C1C;
    font-size: 18px;
    font-family: "Cairo", sans-serif;
    margin-left: 40px;
}


#parte_baixo_menu{
    position: relative;
}


#opcoes_menu{
    border: solid 0.7px #c7c4c4;
    width: 262px;
    margin-left: 40px;
    height: 453px;    
    position: absolute;
    background-color: rgb(255, 255, 255);
    padding: 0 40px 0 10px;
    margin: 0;
    list-style: none;
    color: #000000;
    left:0px;
    top: 50px;
    opacity: 1;
    transition: 1s;
    z-index: -1;
}


#Check {
    position: absolute;
    left: 0%;
    width: 85%;
    height: 50px;
    opacity: 0;
    cursor: pointer;
}


#Check:checked~#opcoes_menu{
    opacity: 0;
    z-index: 1;
}


#busca{
    grid-column: 3/6;
    grid-row: 2;
    display: flex;
}


#alinhamento_busca{
    display: flex;
    border: solid 1px #c7c4c4;
    width: 568px;
    height: 60px;
    list-style: none;
}


#alinhamento_busca li{
    font-size: 18px;
    font-family: "Cairo", sans-serif;
}


#All_Categories{
    margin-top: 13px;
    margin-left: 17px;
}


#All_Categories svg{
    height: 12px;
    width: 12px;
    fill: #000000;
    margin-left: 10px;
}


#alinhamento_busca button{
    height: 59px;
    width: 100px;
    border: none;
    background-color: #7FAD39;
    color: #F5F5F5;
    font-size: 14px;
    font-family: "Cairo", sans-serif;
}


#alinhamento_busca input{
    height: 48px;
    width: 300px;
    border: none;
    margin-left: 20px;
    margin-top: 6px;
    color: #c7c4c4;
    font-size: 16px;
    font-family: "Cairo", sans-serif;
}


#grid_telefone{
    display: grid;
    grid-template-columns: 20px 280px;
    grid-template-rows: 110px 110px 110px;
}


#telefone svg{
    width: 16px;
    height: 16px;
    margin-top: 15px;
    margin-left: 15px;
}


#telefone{
    margin-left: 50px;
    background-color: #f5f3f3;
    width: 50px;
    height: 50px;
    border-radius: 1000%;
}


#telefone ul{
    margin-bottom: 200px;
    margin-left: 70px;
}


#numero_telefone{
    margin-left: 90px;
    font-size: 14px;
    font-family: "Cairo", sans-serif;
}


#numero_telefone strong{
    font-size: 18px;
}

#banner{
    grid-column: 3/6;
    grid-row: 3;
    background-image: url(banner.jpg.webp);
}

#escritas_banner{
    margin-left: 80px;
    margin-top: 60px;
    background-image: url(img/hero/banner.jpg);
}

#escritas_banner_1{
    color: #7FAD39;
    font-size: 14px;
    font-family: "Cairo", sans-serif;
}

#escritas_banner_2{
    color: #000000;
    font-size: 46px;
    font-family: "Cairo", sans-serif;
}

#escritas_banner_3{
    color: #000000;
    font-size: 46px;
    font-family: "Cairo", sans-serif;
}

#escritas_banner_4{
    color: #6F6F6F;
    font-size: 16px;
    font-family: "Cairo", sans-serif;
}

#banner_butao{
    margin-top: 30px;
    color: #ffffff;
    background-color: #7FAD39;
    width: 141px;
    height: 41px;
    border: none;
    font-size: 14px;
    font-family: "Cairo", sans-serif;
}

#prod01{
    grid-row: 4;
    grid-column: 2;
    background-image: url(cat-2.jpg.webp);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top center;
    margin-top: 30px;
}

.botao_prod1{
    text-align: center;
    margin-top: 220px;
}

.botao_prod1 button{
    border: none;
    background-color: #ffffff;
    height: 30px;
    width: 220px;
    font-size: 18px;
    font-family: "Cairo", sans-serif;
}

#prod02{
    grid-row: 4;
    grid-column: 3;
    background-image: url(cat-3.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top center;
    margin-right: 30px;
    margin-top: 30px;
}

#prod03{
    grid-row: 4;
    grid-column: 4;
    background-image: url(cat-4.jpg.webp);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top center;
    margin-top: 30px;
    background-color: #F5F5F5;
}

#prod04{
    grid-row: 4;
    grid-column: 5;
    background-image: url(cat-5.jpg.webp);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top center;
    margin-top: 30px;
}

#center{
    text-align: center;
    margin-top: 70px;
}

#Featured_Products{
    font-size: 36px;
    font-family: "Cairo", sans-serif;
}

#Risco_verde{
    background-color: #7FAD39;
    height: 4px;
    width: 80px;
    margin-left: 900px;
}

#tipos_do_featured{
    display: flex;
    list-style: none;
    margin-left: 750px;
    margin-top: 30px;
}

#tipos_do_featured a{
    text-decoration: none;
    color: #000000;
}

#tipos_do_featured li{
    margin-right: 20px;
    font-size: 18px;
    font-family: "Cairo", sans-serif;
}

#Risquinho_verde_all{
    background-color: #7FAD39;
    height: 2px;
    width: 23px;
    margin-left: 748px;
}

#grid2_home{
    display: grid;
    grid-template-columns: 292.5px 292.5px 292.5px 292.5px;
    grid-template-rows: 385.78px 385.78px;
    margin-left: 360px;
}

.escritos_grid2_home{
    font-size: 16px;
    font-family: "Cairo", sans-serif;
    text-align: center;
    margin-top: 20px;
}

.escritos_grid2_home strong{
    color: #252525;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
}

#banners_2{
    margin-top: 40px;
    margin-left: 358px;
}

#banners_2 img{
    margin-right: 36px
}

#grid3_home{
    display: grid;
    grid-template-columns: 390px 390px 390px;
    grid-template-rows: 40px 110px 110px 110px;
    margin-left: 360px;
    margin-top: 50px;
    row-gap: 12px;
}


.linha1_grid3_home svg{
    width: 20px;
    height: 20px;
    background-color: #F3F6FA;
    border: #c7c4c4 solid 0.2px;
    fill: #6F6F6F;
    margin-right: 10px;
    margin-top: 10px;
}

.linha1_grid3_home strong{
    font-size: 24px;
    font-family: "Cairo", sans-serif;
    color: #1C1C1C;
    font-weight: 700;
    margin-left: 10px;
    margin-right: 100px;
}

.grid3_home_produtcs_layout{
    display: flex;
}

.grid3_home_produtcs_layout a{
    list-style: none;
    text-decoration: none;
    color: #000000;
    font-family: "Cairo", sans-serif;
}

.grid3_home_produtcs_layout img{
    height: 100px;
    width: 100px;
}

#escritos_dentro_grid3{
    margin-left: 20px;
    font-size: 16px;
}

#escritos_dentro_grid3 strong{
    font-size: 18px;
    margin-top: 200px;
}

#FTB{
    color: #1C1C1C;
    margin-left: 850px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 36px;
    font-family: "Cairo", sans-serif;
}

#Risco_verde_2{
    background-color: #7FAD39;
    height: 4px;
    width: 80px;
    margin-left: 920px;
}

#grid_FTB{
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 258.8px 24px 37px 52px;
    margin-left: 360px;
    margin-top: 30px;
    column-gap: 30px;
    row-gap: 10px;
}

#grid_FTB>div a{
    list-style: none;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: #1C1C1C;
    font-family: "Cairo", sans-serif;
}

#grid_FTB>div p{
    font-size: 16px;
    color: #6F6F6F;
    font-family: "Cairo", sans-serif;
}

.data_FTB svg{
    height: 16px;
    width: 16px;
}

.data_FTB{
    display: flex;
    gap: 25px;
    color: #B2B2B2;
    font-family: "Cairo", sans-serif;
}

#rodape_tds_pags{
    background-color: #F3F6FA;
    height: 413px;
    font-family: "Cairo", sans-serif;
    font-size: 16px;
    margin-top: 70px;
}

#grid_rodape{
    display: grid;
    grid-template-columns: 292.5px 390px 450px;
    grid-template-rows: 251px;
    width: 1072.5px;
    margin-left: 20%;
    margin-top: 50px;
}

#cotacts_rodape{
    padding: 2px;
}

#fileira_meio_rodape{
    margin-left: 90px;
}

#lista_rodape{
    display: flex;
}

#lista_rodape a{
    text-decoration: none;
    color: #000000;
}

#lista_rodape ul{
    list-style: none;
    font-size: 14px;
}

#lado2_lista{
    margin-left: 37px;
}

.titulo_lista_rodape{
    margin-bottom: 10px;
    font-weight: 700;
}

#ultima_fileira_grid_rodape{
    margin-left: 90px;
}

#frase_rodape_ultima_fileira{
    font-size: 14px;
}

#form_rodape{
    margin-top: 30px;
}

#form_rodape input{
    border: 1px solid #ededed;
    background-color: #ffffff;
    width: 250px;
    height: 46px;
    padding: 15px;
    color: #000000;
}

#form_rodape button{
    width: 110px;
    height: 46px;
    background-color: #7FAD39;
    border: none;
    color: #ffffff;
}

#redes_sociais_rodape svg{
    fill: #404040;
    height: 13px;
    margin-top: 13px;
}

#redes_sociais_rodape{
    display: flex;
    list-style: none;
    margin-left: 10px;
    margin-top: 28px;
}

#redes_sociais_rodape li{
    background-color: #ffffff;
    border-radius: 100%;
    height: 41px;
    width: 41px;
    text-align: center;
    margin-right: 15px;
}

#frase_fim_rodape{
    margin-left: 380px;
    margin-top: 20px;
}

#frase_fim_rodape span{
    color: #007BFF;
}

#frase_fim_rodape span:hover{
    color: #ffffff;
}

#frase_fim_rodape div{
    color: #6F6F6F;
}

#frase_fim_rodape svg{
    height: 16px;
    width: 16px;
    fill: #6F6F6F;
}

#frase_fim_rodape img{
    margin-left: 345px;
}